@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,500&family=Rubik:ital,wght@0,300;0,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
  line-height: 1.7;
}

body {
  background-color: $color-black;
  font-family: 'Rubik', sans-serif;
}
