//colors for portfolio project

$color-white: #fff;
$color-black: #111;
$color-dark-grey: #212529;
$color-medium-grey: #343a40;
$color-light-Grey: #adb5bd;
$color-stylish: #1098ad;
$color-red: #c92a2a;
//fontsizes

$text-default: 1.7rem;
$text-small: 1rem;
$text-medium: 1.5rem;
$text-big: 2rem;
$text-super-big: 3.5rem;
